absl-py==1.0.0
dopamine-rl==4.0.1
flax==0.3.6
gin-config==0.5.0
jax==0.2.25
jaxlib==0.1.74
gym==0.21.0
myst-parser==0.15.2
numpy==1.21.4
opensimplex==0.3
s2sphere==0.2.5
sklearn==0.0
tensorflow==2.7.0
tensorflow-probability==0.15.0
transitions==0.8.10
